
static/datos/no usados/aeropuertos
static/datos/no usados/aeropuertos.geojson
static/datos/no usados/ferrocariles.json
static/datos/no usados/ferrocariles2.geojson
static/datos/no usados/rios.json
static/datos/no usados/rios2.json
static/datos/no usados/TramosCarreteras2.geojson
static/js/no usado/aeropuertos.js
static/js/no usado/eolica.js
static/js/no usado/fotovoltaica.js
